<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: 0.5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { 
          width: 500px;
          background: lightsalmon;
          border-radius: 20px 0px 0px 20px;
          padding: 5px 5px;
      }
      .sent {
          background: skyblue !important;
          border-radius: 0px 20px 20px 0px !important;
          float: left;
      }
      .clear-both {
          clear: both;
      }
    </style>
  </head>
  <body>
    Nick name:<input id="nickname" autocomplete="off" />
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </body>
  <script src="/socket-lib/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $(function () {
      var socket = io();
      $('form').submit(function(e) {
        var msg = $('#m').val();
        var nickname = $('#nickname').val();
        e.preventDefault(); // prevents page reloading
        socket.emit('chat message', {
          nickname: nickname,
          msg: msg
        });
        // add message immediately & sender
        $('#messages').append($('<li class="sent">').text(nickname + ' : ' + msg));
        $('#messages').append('<div class="clear-both"></div');

        $('#m').val('');
        return false;
      });

      socket.on('io to client', function(data) {
        $('#messages').append($('<li style="float:right">').text(data.nickname + ' : ' + data.msg));
        $('#messages').append('<div class="clear-both"></div');
      });

    });
  </script>
</html>